<side-section [isLoading]="isLoading">
  <div class="flex flex-col justify-around w-full">
    <div *ngFor="let credential of credentialData" class="flex flex-col lg:flex-row lg:items-center lg:justify-between h-full">
      <section-title data-aos="fade-right" data-aos-delay="100" [textSize]="TitleType.title" class="m-0 lg:m-auto lg:w-5/12 lg:text-center">{{credential.category}}</section-title>
      <div data-aos="fade-in" data-aos-delay="100" class="w-0 h-0 mx-10 lg:w-0.5 bg-black lg:h-full"></div>
      <div data-aos="fade-left" data-aos-delay="100" class="lg:w-5/12">
        <sub-title>{{credential.title}}</sub-title>
        <p>{{credential.description}}</p>
      </div>
    </div>
  </div>
</side-section>
