<div class="knowledge-category-container">
  <div *ngFor="let knowledge of knowledgeData" class="category-section">
    <h2 class="category-title">{{ knowledge.category }}</h2>
    <div class="icon-list">
      <div *ngFor="let item of knowledge.item" class="icon-item group">
        <div class="icon-flip">
          <i [class]="'icon-' + item.value?.provider + ' icon-' + item.value?.name"></i>
          <div class="icon-label">
            <span>{{ item.label }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
