<main class="main" class="font-sans scroll-smooth">
  <app-landing #landingSection></app-landing>
  <div class="main-content">
    <div id="knowledgeSection" class="bg-white">
      <knowledge-section [knowledgeData]="knowledge" [isLoading]="isLoadingKnowledge"></knowledge-section>
    </div>

    <div id="experienceSection" class="bg-peach">
      <experience-section [experienceData]="experiences" [isLoading]="isLoadingExperience"></experience-section>
    </div>

    <div id="credentialSection" class="bg-white">
      <credential-section [credentialData]="credentials" [isLoading]="isLoadingCredential"></credential-section>
    </div>

    <div id="projectSection" class="bg-peach">
      <project-section [projectData]="projects" [isLoading]="isLoadingCredential"></project-section>
    </div>

    <div id="leadershipSection" class="bg-white">
      <leadership-section [leadershipData]="leadership" [isLoading]="isLoadingLeadership"></leadership-section>
    </div>

    <div id="languageSection" class="bg-peach">
      <language-section [languageData]="languages" [isLoading]="isLoadingLanguage"></language-section>
    </div>

    <div data-aos="fade-up" data-aos-delay="100" id="contactSection" class="bg-white">
      <contact-section></contact-section>
    </div>
  </div>
</main>
<router-outlet />
